* {
    font-family: 'Archivo', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page {
    width: 736px;
    margin: auto;  

}


header p {
    color: #42D3FF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 42px;
}

header h1 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 24px;

}


header {
    width: 319px;
    margin-top: 80px;
}

body::before {
    content: '';
    position: absolute;
    background: #121214;
    height: 368px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

body {
    background: #E5E5E5;
}

form {
    margin: auto;
    background: #FAFAFC;
    width: 736px;
    height: 1430px;
    border-radius: 8px 8px 0px 0px;
    padding: 64px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

fieldset {
    border: none;
}

fieldset legend {
    font-family: 'Archivo';
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;

    border-bottom: 1px solid #E6E6F0;
    width: 100%;
    padding-bottom: 16px;

}

.caixa span {
    color: #C1BCCC;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    margin-left: 12px;
}

.caixa {
    padding-top: 20px;
}

.caixa label, .checkbox-wrapper {
    color: #4E4958;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 8px;
}

.caixa input {
    color: #4E4958;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #E6E6F0;
    height: 56px;
    width: 608px;
    padding: 0 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.caixa textarea  {
    width: 608px;
    height: 168px;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    padding: 8px 1rem;
} 

#select {
    display: flex;
    flex-direction: column;
    border: 1px solid #E6E6F0;
    border-radius: 8px; 
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #E6E6F0;
    height: 56px;
    width: 608px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 15px;
    padding-left: 24px;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 24px top 50%;
}

.select option {
    background: #DCDCDC;
    color: black;
}

.e-col {
    display: flex;
    gap: 20px;
}

#data {
width: 312px;
}

#time {
    width: 
    128px;
}

.caixa23 {
    display: flex;
    margin-top: 24px;
    gap: 16px;
}

#time2 {
    width: 
    128px;
}

#check {
    width: 24px;
    height: 24px;
    display: flex;
    border-radius: 8px;
}



.caixa23 {
    display: flex;
    margin-top: 24px;
    gap: 16px;
}


.checkbox-wrapper {
    margin-top: 24px;
    position: relative;
}

.checkbox-wrapper label {
    margin: 0;
    display: flex;
    gap: 16px;
    align-items: center;
    }

.checkbox-wrapper input {
position: absolute;
top: 0;
left: 0;
width: 24px;
height: 24px;
opacity: 0;
}

.checkbox-wrapper label::before {
    content: '';
    width: 24px;
    height: 24px;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='18' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;

}

.checkbox-wrapper input:focus + label::before {
    outline: 2px solid black;
}

footer {
    background: #F0F0F4;
    height: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 64px 40px;
}

footer input {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    background: #04D361;
    width: 608px;
    height: 56px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;

}

footer input:hover {
    background-color: #0c8c45;
    transition: 0.3s all;
}

input:invalid {
    border: 2px solid red;
}